# Node & Next.js
node_modules/
.next/
out/
build/
dist/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
.DS_Store
*.pem

# IDE
.vscode/
.idea/

# Cloudflare & OpenNext
.wrangler/
.open-next/
.vercel/

# Agent & AI IDE Internal
.agent/
.agents
.gemini/
skills/
